doctype html
html
	head
		title Operation Result
		script(type='text/javascript' src='public/javascripts/functions.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h1 Operation Result

		p The result of performing "<%= operation %>" on <%= left %> and <%= right %> is: <%= result %>
