body {
    
    background: grey;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.container {
    white-space: nowrap;
    color: navy;
    background-color: grey;
    vertical-align: middle;
}

h1 {
    color: navy; 
    background-color: grey;
    white-space: nowrap;
    vertical-align: top;
    text-align: center;
    font-family: Arial;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-family: Serif;
}

p {
    color: black;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: Times New Roman;
}

blockquote {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: #00ff00;
    font-family: Georgia;
}
