body {
    
    background: grey;
    color: black;
    margin: auto;
}

.container {
    white-space: nowrap;
    color: navy;
    background-color: grey;
}

h1 {
    color: navy; 
    background-color: grey;
    white-space: nowrap;
    margin: auto;
    text-align: center;
    font-family: Arial;
}

h3 {
    color: navy; 
    background-color: grey;
    white-space: nowrap;
    margin: auto;
    text-align: center;
    font-family: Arial;
}

h5 {
    color: navy; 
    background-color: grey;
    white-space: nowrap;
    margin: auto;
    text-align: center;
    font-family: Arial;
}

span {
    display: inline-block;
    line-height: normal;
    font-family: Serif;
}

p {
    color: black;
    background-color: lightblue;
    margin: auto;
    text-align: center;
    width: 80%;
    font-family: Times New Roman;
}

blockquote {
    margin: auto;
    text-align: center;
    width: 80%;
    color: navy;
    font-family: Georgia;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}

header {
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

footer {
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

table {
    background-color: lightblue;
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 80%;
    border-collapse: collapse;
}

tr {
    color: black;
}

th {
    padding: 0 10px 0 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 18px;
}

td {
    border-style: solid;
    border-left: 1px;
    border-right: 1px;
    border-color: black;
}

tr:nth-child(even) {
    background-color: lightgrey;
    border-style: solid;
    border-left: 1px;
    border-right: 1px;
    border-color: black;
}

a:link {
    color: navy;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}
