body {
    
    background: grey;
    color: black;
    margin: auto;
}

.container {
    white-space: nowrap;
    color: navy;
    background-color: grey;
}

h1 {
    color: navy; 
    background-color: grey;
    white-space: nowrap;
    margin: auto;
    text-align: center;
    font-family: Arial;
}

span {
    display: inline-block;
    line-height: normal;
    font-family: Serif;
}

p {
    color: black;
    background-color: lightblue;
    margin: auto;
    text-align: center;
    width: 80%;
    font-family: Times New Roman;
}

blockquote {
    margin: auto;
    text-align: center;
    width: 80%;
    color: navy;
    font-family: Georgia;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}

header {
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

footer {
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

table {
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

